{% block content %}
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Выйти</a>
<p>{{ user.username }} </p>
{% else %}
    <a href="{% url 'login' %}">Войти</a>

{% endif %}
    <div class="book-detail">
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}">
        <h1>{{ book.title }}</h1>
        <h2>{{ book.author }}</h2>
        <p>{{ book.publisher }}</p>
        <p>{{ book.genre }}</p>
        <p>{{ book.description }}</p>


        <a href="{{ book.pdf_file.url }}" class="btn btn-primary">Читать</a>
        {% if user.is_staff %}
         <p><a href="{% url 'edit_book' book.pk %}">Редактировать</a> | <a href="{% url 'delete_book' book.pk %}">Удалить</a></p>
        {% endif %}
    </div>
{% endblock %}